#slots-container > div:first-child {
  animation: 20s linear alternate infinite move1;
}
#slots-container > div:nth-child(2) {
  animation: 20s linear alternate infinite move2;
}
#slots-container > div:last-child {
  animation: 20s linear alternate infinite move3;
}

@keyframes move1 {
  25% {
    transform: translateY(180px);
  }
  50% {
    transform: translateY(-180px);
  }
}
@keyframes move2 {
  25% {
    transform: translateY(-180px);
  }
  50% {
    transform: translateY(180px);
  }
}
@keyframes move3 {
  25% {
    transform: translateY(180px);
  }
  50% {
    transform: translateY(-180px);
  }
}
